.self-desc {
	font-size: 5vmin;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
#deploy-list {
	list-style: none;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
#deploy-list > li {
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	margin-top: 5px;
}
.boring {
	padding: 10px;
	box-sizing: border-box;
}
.boring > h2 {
	font-size: 22pt;
}
.boring > ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.boring > ul > li {
	text-align: center;
	display: inline-block;
	font-size: 16pt;
	padding: 8px 18px;
	margin: 4px;
	font-weight: bold;
}
#projects > ul > li {
	text-align: left;
	width: 90%;
	font-weight: normal;
}
#contact {
	height: initial;
}
#form {
	height: 820px;
	flex: 1;
}

#hand {
	animation: wave 0.7s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 2;
}
@keyframes wave {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}